VITE_SUPABASE_URL="https://blqclpfsoddhixzxzhhp.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_lbo-7YcGcpD3VNB_BrodKw_bcRHA815"
SUPABASE_URL="https://blqclpfsoddhixzxzhhp.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_lbo-7YcGcpD3VNB_BrodKw_bcRHA815"
SUPABASE_SECRET_KEY="sb_secret_Quk3EqwwlEJfbCm5J6NhfQ_s7qsEeyt"
SUPABASE_JWKS_URL="https://blqclpfsoddhixzxzhhp.supabase.co/auth/v1/.well-known/jwks.json"

VITE_RAZORPAY_KEY_ID="rzp_test_Ti8ME7zcAQm8iS"
RAZORPAY_KEY_ID="rzp_test_Ti8ME7zcAQm8iS"
RAZORPAY_KEY_SECRET="LlD1mH6E0exrizGnAZBGQYlB"
ADMIN_PASSWORD="ADMIN@344@#"

